.base-values
{
    -light-black:			rgb( 74,  75,  78);
    -dark-highlight:		rgb( 87,  89,  92);
    -dark-black:			rgb( 39,  40,  40);
    -darkest-black:			rgb(  5,   5,   5);
    -mid-gray:				rgb(216, 222, 227);
    -fx-background-color:	-mid-gray;
}

.glass-pane
{
	-fx-background-color:	transparent;
	-fx-border-style:		solid;
	-fx-border-color:		black;
}

.main-pane
{
	-fx-padding:			10.0;
	-fx-spacing:			10.0;
	-fx-alignment:			center-left;
}

.simple-display-entry
{
	-fx-padding:			5.0;
	-fx-alignment:			center-left;
}

.simple-display-entry .main-title
{
	-fx-font-family:		Verdana;
	-fx-font-size:			18pt;
	-fx-font-weight:		bold;
}

.simple-display-entry .subtitle
{
	-fx-font-family:		Verdana;
	-fx-font-size: 			16pt;
}

.dialog-phase
{
	-fx-padding:			10.0;
}

.main-menubar
{
    -fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
}

.tool-button
{
	-fx-background-color:	transparent;
	-fx-border-style:		solid;
	-fx-border-color:		-dark-highlight;
	-fx-border-radius:		3;
}

.tool-button:focused
{
	/* Light blue (from caspian.css) glowing effect on focused button. */
    -fx-background-color:	#0093ff, white;
    -fx-background-insets:	-1.4, 0, 1, 2;
    -fx-background-radius:	6.4, 5, 4, 3;
}

.tool-button:hover
{
    -fx-cursor:				hand;
}

.lang-button
{
	-fx-background-color:	transparent;
	-fx-text-fill:			white;
}

.lang-button:hover
{
	-fx-cursor:				hand;
}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: transparent;
    /*-fx-border-style: solid;*/
    -fx-border-color: transparent;
    -fx-padding: 10.0;
}



